@import "tailwindcss";
@plugin "daisyui";

:root {
  color-scheme: dark;
  background-color: #000000;
}

html,
body {
  min-height: 100%;
  margin: 0;
  background: #000000;
  color: #ffffff;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
